<h1>Photo Ideas</h1>

<%= form_tag("/random", method: "get") do %>
  <%= collection_select(:category, :id, Category.all, :id, :name) %>
  <%= submit_tag("Find a random subject") %>
<% end %>

<%= render partial: 'subjects/random' %>